{% extends "base.html" %}

{% block title %}{{ character.name }} &mdash; Futurama API{% endblock %}

{% block content %}
  <h1 class="title">{{ character.name }}</h1>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Futurama API</a></li>
      <li><a href="/characters">Characters</a></li>
      <li class="is-active">
        <a href="/characters/{{ character.id }}" aria-current="page">{{ character.name }}</a>
      </li>
    </ul>
  </nav>
  {% match character.image %}
    {% when Some with (image) %}
      <figure class="image block">
        <img alt="{{ character.name }}" src="{{ image }}" class="character-img"></img>
      </figure>
    {% when None %}
  {% endmatch %}
  <p class="block">
    <span class="has-text-weight-bold">Species:</span>
    {% match character.species %}
      {% when Some with (species) %}
        {{ species }}
      {% when None %}
        N/A
    {% endmatch %}
  </p>
  <p class="block">
    <span class="has-text-weight-bold">Gender:</span>
    {% match character.gender %}
      {% when Some with (gender) %}
        {{ gender }}
      {% when None %}
        N/A
    {% endmatch %}
  </p>
  <p class="block">
    <span class="has-text-weight-bold">Status:</span>
    {% match character.status %}
      {% when Some with (status) %}
        {{ status }}
      {% when None %}
        N/A
    {% endmatch %}
  </p>
  <p class="block">
    <span class="has-text-weight-bold">Created At:</span>
    {{ character.created_at.format("%m/%d/%Y %l:%M%P %Z") }}
  </p>
{% endblock %}
