{% extends "base.html" %}

{% block title %}Characters &mdash; Futurama API{% endblock %}

{% block content %}
  <h1 class="title">List of Characters</h1>
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Futurama API</a></li>
      <li class="is-active">
        <a href="/characters" aria-current="page">Characters</a>
      </li>
    </ul>
  </nav>
  {% include "search_form.html" %}
  <table class="table is-hoverable">
    <thead>
      <tr>
        <td>Name</td>
        <td>Species</td>
        <td>Gender</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      {% for character in characters %}
        <tr>
          <td>
            <a href="/characters/{{ character.id }}">{{ character.name }}</a>
          </td>
          <td>
            {% match character.species %}
              {% when Some with (species) %}
                {{ species }}
              {% when None %}
                N/A
            {% endmatch %}
          </td>
          <td>
            {% match character.gender %}
              {% when Some with (gender) %}
                {{ gender }}
              {% when None %}
                N/A
            {% endmatch %}
          </td>
          <td>
            {% match character.status %}
              {% when Some with (status) %}
                {{ status }}
              {% when None %}
                N/A
            {% endmatch %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include "pagination.html" %}
{% endblock %}
