<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <title>{% block title %}Futurama API{% endblock %}</title>
  </head>
  <body>
    <header class="has-background-primary has-text-primary-invert">
      {% include "navbar.html" %}
    </header>
    <main class="container p-4">
      {% block content %}{% endblock %}
    </main>
    <script src="/static/js/navbar.js" type="module" defer></script>
    {% block js %}{% endblock %}
  </body>
</html>
